.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px black;
    
}
.headingdiv{
float: none;
background: lightseagreen;
color: gold;
box-shadow: 5px 5px 5px black;
border-radius: 30px;
padding: 10px;
}
.heading_div2{
    font-size: 18px;
}